/*------------------------------------------------------------------------------
*   Importing the grid sytem
*/
@import "grid.less";




/*------------------------------------------------------------------------------
*   Variables for the grid system
*/

@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;
@gridWidth:     960px;
@gridImage:     "../img/grid/grid950x24x30x10-nomargin.png";




/*------------------------------------------------------------------------------
*
*/

.wrap-all {

}

.outer-wrap {

}

.inner-wrap {
    .grid(@gridWidth);

    //.showGrid(@gridWidth, @gridImage);
    //background: url("../img/grid/horisontal-grid-24.png");
}

.row {
    .row();
}

.outer-wrap-header,
.outer-wrap-flash,
.outer-wrap-main,
.outer-wrap-after-main,
.footer-column-wrapper {
    margin-bottom: @magicNumber;
}

.site-logo-text {
    .column(8);
}

.navbar2 {
    .column(16);
}

.flash-wrap {
    .column(@columns);
    max-height: @magicNumber * 10;
}

.main,
.after-main {
    .column(16);
    .push(4);

    &.has-sidebar {
        .column(16);
    }

    &.has-sidebar-right {
        .push(1);
    }
}

.next-previous {
    .next,
    .previous {
        width: 50%;
    }

    .next {
        float: right;
        text-align: right;
    }
}

.sidebar {
    .column(6);

    &.sidebar-left {
        .push(1);
    }

    &.sidebar-right {
        .push(1);
    }
}

.footer-column-wrapper {
    .clearfix();
}

.footer-column {
    .column(@columns / 3);
}

.site-footer {
    .column(@columns);
}
