/**
* Anax Flat theme.
*/
@import url(modules.less);

/** --------------------------------------------------------------
 *  Variables
 */

 @highlight: #2196F3;
 @lightgrey: #e0e0e0;


 /** --------------------------------------------------------------
  *  Globals
  */

a {
    text-decoration: none;
    color: @highlight;

    &:hover {
        text-decoration: underline;
    }
}


/** --------------------------------------------------------------
 *  Header
 */

.site-header {
    padding: (@magicNumber * 1.5 - 4px) 0;
    font-family: @fontFamilyHeadings;
}

.site-logo-text,
.profile {
    float: left;
}

.navbar2 {
    float: right;
}

.site-logo-text {
    background-color: @highlight;
    padding: .75em 1em;
}

.site-logo-text a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5em;
}

// navbar main
.rm-desktop li a {
    font-weight: bold;

    &:hover {
        text-decoration: none;
    }
}

@navbarItemHoverColor: @highlight;
// navbar max
.rm-max {

    // Place the menu button
    &.rm-navbar {
        position: absolute;
        top: 2em;
        right: 2em;
    }
}
@maxButtonFontSize: 2em;

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

/** --------------------------------------------------------------
 *  Main
 */

.flash-wrap {
    margin-bottom: 8px;
}


/** --------------------------------------------------------------
 *  Main
 */

.main {
    padding: (@magicNumber * 2) 0;
}

/** --------------------------------------------------------------
 *  Sidebar
 */

.sidebar {
    padding: (@magicNumber * 2) 0;
}

/** --------------------------------------------------------------
 *  Breadcrumb
 */

.breadcrumb-list li {
    list-style: none;
    display: inline;

    &:not(:last-child):after {
        content: " > ";
    }
}

/** --------------------------------------------------------------
 *  Footer
 */

.footer {
    border-top: 1px solid @lightgrey;
    text-align: center;
    font-family: @fontFamilyHeadings;
    margin-bottom: 15px;

    ul {
        padding: 0;
        list-style: none;

        li {
            padding: .25em 0;
        }
    }
}

.site-footer {
    text-align: center;

    ul li {
        display: inline-block;
    }
}

/** --------------------------------------------------------------
 *  Grid
 */

body.route-grid {
    .showGrid();
}

/** --------------------------------------------------------------
 *  Typo
 */

body.route-typography .wrap-all {
    background: url("../img/grid/horisontal-grid-24.png");
}

/** --------------------------------------------------------------
 *  responsive design
 */

img {
    max-width: 100%;
}
