/**
* Anax Flat theme.
*/
@import url(modules.less);
@import url(base.less);

/** --------------------------------------------------------------
 *  Variables
 */

 @highlight: #2196F3;
 @lightgrey: #e0e0e0;


 /** --------------------------------------------------------------
  *  Globals
  */

a {
    color: @highlight;
}


/** --------------------------------------------------------------
 *  Header
 */

.site-logo-text,
.profile {
    float: left;
}

.navbar2 {
    float: right;
}

.site-logo-text {
    background-color: @highlight;
    padding: .75em 1em;
}

.site-logo-text a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5em;
}

// navbar main
.rm-desktop li a {
    font-weight: bold;

    &:hover {
        text-decoration: none;
    }
}

@navbarItemHoverColor: @highlight;
// navbar max
.rm-max {

    // Place the menu button
    &.rm-navbar {
        position: absolute;
        top: 2em;
        right: 2em;
    }
}
@maxButtonFontSize: 2em;

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

/** --------------------------------------------------------------
 *  Main
 */




/** --------------------------------------------------------------
 *  Main
 */

.main {
    padding: (@magicNumber * 2) 0;
}

/** --------------------------------------------------------------
 *  Sidebar
 */

.sidebar {
    padding: (@magicNumber * 2) 0;
}


/** --------------------------------------------------------------
 *  Footer
 */
